.all {
    height: 100vh;
}

.hero-img {
  position: absolute;
  top: 0;
  left: 0;
  background: url("../images/teacherscheme_hero_image.jpg");
  width: 100%;
  height: 100vh;
  z-index: -1;
  background-size: cover;
}

@media only screen and (min-width: 680px) {
        .na {
            width: 50%;
        }
}

.nav-bg {
    background-color: rgb(24, 16, 1);
}

.colo{
  background-color: black;
}

.b-example-divider {
  height: 3rem;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.shad{
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}